@using Newtonsoft.Json
@using System.Security.Claims
@using BusinessObject.Models
@using BusinessObject.Res
@model IEnumerable<BusinessObject.Res.OrderRes>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long</title>
</head>

<!-- css file -->
<link rel="stylesheet" href="~/css/site.css">
<script src="~/js/store.js" async></script>
<!-- font awesome icon -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <nav>
        <div class="nav-responsive">
            <a href="https://localhost:7290/Home/Index">
                <img src="~/images/phone-icon3.png" alt="image" class="logo" id="logo">
            </a>

            <form asp-action="Index" defaultbutton="SubmitButton">
                <div class="nav-search">
                    <a href="">
                        <i class="fa fa-search" id="find">
                        </i>
                    </a>
                   
                        <input type="search" id="search" placeholder="Search" name="search" class="record-search">
                    

                </div>
            </form>
            <script>
                document.querySelector("#visits").textContent = response.value;
            </script>
            <div class="access">


                @if (((ClaimsIdentity)User.Identity!).HasClaim(ClaimTypes.Role, "2"))
                {
                    <a href="https://localhost:7290/cart" id="cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" id="bars"><i class="fa fa-bars"></i></a>
                    <div class="dropdown" id="account">
                        <button class="dropbtn"> <i class="fa fa-user-circle-o"></i></button>
                        <div class="dropdown-content">
                            <a href="https://localhost:7290/Home/Profile" style="font-size: 15px; ">Profile</a>
                            <a href="https://localhost:7290/Home/OrderDetail" style="font-size: 15px;">OrderDetail</a>
                            <a href="https://localhost:7290/ChangePass" style="font-size: 15px;">Change password</a>
                            <a href="https://localhost:7290/logout" style="font-size: 15px;">Sign out</a>

                        </div>
                    </div>
                }

                else if (((ClaimsIdentity)User.Identity).HasClaim(ClaimTypes.Role, "1"))
                {
                    <a href="https://localhost:7290/Product/Products" style="font-size: 35px; margin-right: 20px;"><i class="fa fa-tasks"></i></a>
                    <a href="https://localhost:7290/logout" style="font-size: 35px;margin-right: 20px;"><i class="fa fa-sign-out"></i></a>
                }
                else
                {
                    <a href="https://localhost:7290/Home/Login" style="font-size: 35px; margin-right: 20px;"><i class="fa fa-sign-in"></i></a>
                }
                @* <a href="#" id="account"><i class="fa fa-user-circle-o"></i></a>*@
            </div>
        </div>
    </nav>
   
    <main id="main">

        <div class="path-admin">ORDER DETAIL</b></div>
        <div class="content-main">
            <div id="content-main-dashboard">
            @foreach (var order in Model) {

                    
                        <div class="profile-order-title">
                            <div class="profile-order-title-left">
                                <div>@order.OrderId</div>
                                <div>Order creation date:@order.OrderDate</div>
                            </div>
                            <div class="profile-order-title-right">
                                <span style="color: green;">Completed</span>
                            </div>
                        </div>
                        <div class="profile-order-content" style="background-color: white;">
                            <div class="profile-order-content-col1">
                                <a href="detail.html"><img src="~/images/redmi note 8C.jpg" width="100%" /></a>
                            </div>
                        @foreach (var i in @order.orderDetails){
                        <div class="profile-order-content-col2">@i.ProductName</div>
                        <div class="profile-order-content-col3">@i.UnitPrice</div>
                        <div class="profile-order-content-col4">@i.Quantity</div>
                        }
                    </div>
                }

    </main>
    <style>


        #profile-content {
            width: 100%;
            border: 1px solid saddlebrown;
            margin: 0px 10px;
            background-color: #fff;
            display: flex;
        }

        .profile-content-col {
            width: 33.3%;
            padding: 10px 0px 20px 20px;
            line-height: 25px;
        }

            .profile-content-col div {
                margin-bottom: 15px;
            }

            .profile-content-col input[type="submit"] {
                background-color: sienna;
                color: #fff;
                line-height: 40px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                margin-top: 70px;
                width: 40%;
            }

        #profile-content-order {
            width: 100%;
            border: 1px solid saddlebrown;
            margin: 0px 10px;
            background-color: #fff;
        }

        .profile-order-title {
    padding: 10px;
    border: 1px solid gainsboro;
    width: 100%;
    /* margin-bottom: 20px; */
    height: 70px;
    line-height: 25px;
    background-color: #f5f5f5;
    display: flex;
        }

        .profile-order-title-left {
            width: 50%;
        }

        .profile-order-title-right {
            width: 50%;
            text-align: right;
            font-weight: bold;
            color: #ee2e24;
        }

        .profile-order-content {
            width: 100%;
            display: flex;
            border-bottom: 1px solid gainsboro;
        }

        .profile-order-content-col1 {
            width: 10%;
            padding-left: 20px;
        }

        .profile-order-content-col2 {
            width: 60%;
            text-align:center;
        }

        .profile-order-content-col3 {
            width: 15%;
        }

        .profile-order-content-col4 {
            width: 15%;
            text-align: right;
            padding-right: 10px;
        }

    </style>
                   
            

        <!-- end of footer section -->

   
    <!-- Footer section -->
    <footer>
        <p id="footer-title">
            our support team</h3p>
            <div class="footer">
                <div class="support">
                    <ul>
                        <h3>Know About Us</h3>
                        <li><a href="#" id="about">Know Us</a></li>
                        <li><a href="#" id="Refund-policy">Refund Policy</a></li>
                        <li><a href="#" id="policy">Our Policy</a></li>
                        <li><a href="#" id="return-product">How to Return ?</a></li>
                        <li><a href="#" id="terms">Term & Conditios</a></li>
                        <li><a href="#" id="privacy">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="social-media">

                    <ul>
                        <h3>Contact Us</h3>
                        <li><i class="fa fa-facebook"></i><a href="#" id="facebook">Facebook</a></li>
                        <li><i class="fa fa-twitter"></i><a href="#" id="twitter">Twitter</a></li>
                        <li><i class="fa fa-instagram"></i><a href="#" id="facebook">Instagram</a></li>
                        <li><i class="fa fa-telegram"></i><a href="#" id="facebook">Telegram</a></li>
                    </ul>
                </div>

                <div class="address">
                    <h3>Office Address</h3>
                    <p>Building Ashiana,Cubbon Park,</p>
                    <p>Bengaluru,560103,</p>
                    <p>Karnatka,India</p>
                    <p>Phone No : 9876543210</p>
                </div>
            </div>

            <div id="copyright">
                <p>&#169 : 2020 SampleKart.com. All Rights Reserved</p>
            </div>
    </footer>
    <!-- end of main -->
    <!-- cart list section -->

</body>

</html>